<h1 class="global-title">Pinhole Social TV</h1>
        <div data-ng-controller="exampleController">
            <input type="button" value="post" data-ng-click="post()">
            <input type="button" value="get" data-ng-click="get()">
        </div>
Home page